<div>
  <h1 class="font-bold text-3xl">Dashboard</h1>
  <%# stimulus  %>
  <div data-controller="hello"></div>
  <div id="point"></div>
  <div class="sn ag fn flex lg:justify-between sm:grid mt-6 ">
    <div class="flex-initial w-128 tz tno bg-white bd rounded-sm border border-slate-200">
      <header class="vc vu cs ch">
        <h2 class="gh text-slate-800">Recently Orders</h2>
      </header>
      <div class="dk">
        <!-- Card content -->
        <!-- "Today" group -->
        <div>
          <header class="go gv gq hp rounded-sm gh dx">Today Orders</header>
          <ul class="nm">
            <!-- Item -->
            <li class="flex vi">
              <div class="op sv rounded-full ub ho ng ra">
                <svg class="op sv du text-indigo-50" viewBox="0 0 36 36">
                  <path d="M18 10c-4.4 0-8 3.1-8 7s3.6 7 8 7h.6l5.4 2v-4.4c1.2-1.2 2-2.8 2-4.6 0-3.9-3.6-7-8-7zm4 10.8v2.3L18.9 22H18c-3.3 0-6-2.2-6-5s2.7-5 6-5 6 2.2 6 5c0 2.2-2 3.8-2 3.8z"></path>
                </svg>
              </div>
              <div class="uw flex items-center cs ch text-sm vr">
                <div class="uw flex fe">
                  <div class="lo"><a class="gp text-slate-800 xd" href="#0">Nick Mark</a> mentioned <a class="gp text-slate-800" href="#0">Sara Smith</a> in a new post</div>
                  <div class="ub ls nq">
                    <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                  </div>
                </div>
              </div>
            </li>
            <!-- Item -->
            <li class="flex vi">
              <div class="op sv rounded-full ub ha ng ra">
                <svg class="op sv du yi" viewBox="0 0 36 36">
                  <path d="M25 24H11a1 1 0 01-1-1v-5h2v4h12v-4h2v5a1 1 0 01-1 1zM14 13h8v2h-8z"></path>
                </svg>
              </div>
              <div class="uw flex items-center cs ch text-sm vr">
                <div class="uw flex fe">
                  <div class="lo">The post <a class="gp text-slate-800" href="#0">Post Name</a> was removed by <a class="gp text-slate-800 xd" href="#0">Nick Mark</a></div>
                  <div class="ub ls nq">
                    <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                  </div>
                </div>
              </div>
            </li>
            <!-- Item -->
            <li class="flex vi">
              <div class="op sv rounded-full ub hd ng ra">
                <svg class="op sv du yr" viewBox="0 0 36 36">
                  <path d="M15 13v-3l-5 4 5 4v-3h8a1 1 0 000-2h-8zM21 21h-8a1 1 0 000 2h8v3l5-4-5-4v3z"></path>
                </svg>
              </div>
              <div class="uw flex items-center text-sm vr">
                <div class="uw flex fe">
                  <div class="lo"><a class="gp text-slate-800 xd" href="#0">Patrick Sullivan</a> published a new <a class="gp text-slate-800" href="#0">post</a></div>
                  <div class="ub ls nq">
                    <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- "Yesterday" group -->
        <div>
          <header class="go gv gq hp rounded-sm gh dx">Yesterday Orders</header>
          <ul class="nm">
            <!-- Item -->
            <li class="flex vi">
              <div class="op sv rounded-full ub hv ng ra">
                <svg class="op sv du yu" viewBox="0 0 36 36">
                  <path d="M23 11v2.085c-2.841.401-4.41 2.462-5.8 4.315-1.449 1.932-2.7 3.6-5.2 3.6h-1v2h1c3.5 0 5.253-2.338 6.8-4.4 1.449-1.932 2.7-3.6 5.2-3.6h3l-4-4zM15.406 16.455c.066-.087.125-.162.194-.254.314-.419.656-.872 1.033-1.33C15.475 13.802 14.038 13 12 13h-1v2h1c1.471 0 2.505.586 3.406 1.455zM24 21c-1.471 0-2.505-.586-3.406-1.455-.066.087-.125.162-.194.254-.316.422-.656.873-1.028 1.328.959.878 2.108 1.573 3.628 1.788V25l4-4h-3z"></path>
                </svg>
              </div>
              <div class="uw flex items-center cs ch text-sm vr">
                <div class="uw flex fe">
                  <div class="lo"><a class="gp text-slate-800 xd" href="#0">240+</a> users have subscribed to <a class="gp text-slate-800" href="#0">Newsletter #1</a></div>
                  <div class="ub ls nq">
                    <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                  </div>
                </div>
              </div>
            </li>
            <!-- Item -->
            <li class="flex vi">
              <div class="op sv rounded-full ub ho ng ra">
                <svg class="op sv du text-indigo-50" viewBox="0 0 36 36">
                  <path d="M18 10c-4.4 0-8 3.1-8 7s3.6 7 8 7h.6l5.4 2v-4.4c1.2-1.2 2-2.8 2-4.6 0-3.9-3.6-7-8-7zm4 10.8v2.3L18.9 22H18c-3.3 0-6-2.2-6-5s2.7-5 6-5 6 2.2 6 5c0 2.2-2 3.8-2 3.8z"></path>
                </svg>
              </div>
              <div class="uw flex items-center text-sm vr">
                <div class="uw flex fe">
                  <div class="lo">The post <a class="gp text-slate-800" href="#0">Post Name</a> was suspended by <a class="gp text-slate-800 xd" href="#0">Nick Mark</a></div>
                  <div class="ub ls nq">
                    <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class=" flex-initial w-128 tz tni bg-white bd rounded-sm border border-slate-200">
      <header class="vc vu cs ch">
        <h2 class="gh text-slate-800">Top Visited Listings</h2>
      </header>
      <div class="dk">
        <!-- Table -->
        <div class="lf">
          <table class="ux ou">
            <!-- Table header -->
            <thead class="go gv gq hp rounded-sm">
              <tr>
                <th class="dx">
                  <div class="gh gt">Source</div>
                </th>
                <th class="dx">
                  <div class="gh gn">Visitors</div>
                </th>
                <th class="dx">
                  <div class="gh gn">Revenues</div>
                </th>
                <th class="dx">
                  <div class="gh gn">Sales</div>
                </th>
                <th class="dx">
                  <div class="gh gn">Conversion</div>
                </th>
              </tr>
            </thead>
            <!-- Table body -->
            <tbody class="text-sm gp le ln">
              <% Listing.all.each do |listing| %>
                <!-- Row -->
                <tr>
                  <td class="dx">
                    <div class="avatar placeholder">
                      <div class="bg-neutral-focus text-neutral-content rounded-full w-20">
                        <span class="text-3xl">D</span>
                      </div>
                    </div>
                    <%= listing.title %>
                  </td>
                  <td class="dx">
                    <div class="gn"><%= listing.visits %></div>
                  </td>
                  <td class="dx">
                    <div class="gn yt"><%= number_to_currency(listing.discountedTo)%></div>
                  </td>
                  <td class="dx">
                    <div class="gn"><%= number_to_currency(listing.discountedTo) %></div>
                  </td>
                  <td class="dx">
                    <div class="gn yv">1%</div>
                  </td>
                </tr>
              <%end %>
              <!-- Row -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
