<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center  mb-8">
    <h1 class="font-bold text-slate-800 text-4xl">Listings</h1>
    <%= link_to 'New Listing', new_listing_path, class: "px-6 py-2 text-sm text-white font-medium transition-colors duration-300 bg-blue-800 rounded shadow-xl hover:bg-blue-600 shadow-blue-400/30" %>
  </div>
  <table class="border-collapse  w-full text-sm ">
    <thead>
      <tr class="odd:bg-white even:bg-slate-50">
        <h1 class=" text-green-500 text-1xl p-4 pl-8 pt-0 pb-3 ">Last Item Added</h1>
        <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-700 dark:text-slate-200 text-left">Title</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-700 dark:text-slate-200 text-left">Price</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-700 dark:text-slate-200 text-left">Discounted To</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-700 dark:text-slate-200 text-left">Stock</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-700 dark:text-slate-200 text-left">Visits</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-700 dark:text-slate-200 text-left">Actions</th>
      </tr>
      <%= render @listings %>
    </thead>
  </table>
</div>
</div>
</div>
<div id="listings" class="min-w-full">
</div>
</div>
