<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-slate-600 text-4xl">Listings</h1>
    <%= link_to 'New Listing', new_listing_path, data: { turbo_frame: 'modal' }, class: "px-6 py-2 text-sm text-white font-medium transition-colors duration-300 bg-blue-500 rounded shadow-xl hover:bg-blue-600 shadow-blue-400/30" %>
  </div>
  <div id="listings" class="min-w-full">
    <%= render @listings %>
  </div>
</div>
