<center class="pt-16 pb-8">
  <a href="http://localhost:3000/static_page/contact">Contact</a>
  <a href="http://localhost:3000/static_page/about">About</a>
  <a href="http://localhost:3000/static_page/about"> *** 2022 v1.0 *** </a>
</center>
